* {
  box-sizing: border-box;
}

.buttons{
  display: flex;
  margin-bottom: 30px;
}

.button {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 20px;
  background-color: rebeccapurple;
  cursor: pointer;
}

.collapse {
  padding: 10px;
  overflow: hidden;
  height: 55px;
  transition: height 0.5s;
  background-color: white;
}

.collapse.active {
  height: 250px;
}

.button-collapse {
  padding: 10px;
  background-color: blue;
  color: white;
  width: fit-content;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.block-collapse {
  border: 1px solid;
  padding: 10px;
}

.callback {
  position: relative;
  padding: 20px;
  width: 300px;
  height: 320px;
}

.callback-form {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: whitesmoke;
  opacity: 1;
  transition: opacity 100ms;
}

.callback-form p {
  font-weight: bold;
  font-size: large;
}

.callback-close {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.callback-send {
  padding: 10px;
  border: 1px solid;
  text-align: center;
  border-radius: 10px;
  background-color: grey;
  cursor: pointer;
}

.call-callack {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 60px;
  right: 5px;
  bottom: 5px;
  opacity: 1;
  transition-property: width , height , right , bottom , opacity;
  transition-duration: 100ms;
  transition-timing-function: linear;
  cursor: pointer;
}

.call-callack:hover {
  width: 70px;
  height: 70px;
  right: 0;
  bottom: 0;
}

.hidden {
  opacity: 0;
}

.liker {
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-img {
  position: absolute;
  bottom: 20px;
  height: 200px;
  width: 100px;
}

.liker-btn {
  position: absolute;
  bottom: 30px;
  background-color: red;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.liker-img {
  position: absolute;
  animation-name: heart1;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes heart1{
  0% {
    opacity: 1;
    bottom: 10px;
    left: calc(50px - 15px);
  }
  25% {
    left: calc(0px - 15px);
  }
  50% {
    left: calc(50px - 15px);
  }
  75% {
    left: calc(100px - 15px);
  }
  100% {
    opacity: 0;
    bottom: 210px;
    left: calc(50px - 15px);
  }
}

@keyframes heart2{
  0% {
    opacity: 1;
    bottom: 10px;
    left: calc(50px - 15px);
  }
  25% {
    left: calc(50px - 15px);
  }
  50% {
    left: calc(100px - 15px);
  }
  75% {
    left: calc(0px - 15px);
  }
  100% {
    opacity: 0;
    bottom: 210px;
    left: calc(50px - 15px);
  }
}

@keyframes heart3{
  0% {
    opacity: 1;
    bottom: 10px;
    left: calc(50px - 15px);
  }
  25% {
    left: calc(50px - 15px);
  }
  50% {
    left: calc(0px - 15px);
  }
  75% {
    left: calc(100px - 15px);
  }
  100% {
    opacity: 0;
    bottom: 210px;
    left: calc(50px - 15px);
  }
}

@keyframes heart4{
  0% {
    opacity: 1;
    bottom: 10px;
    left: calc(50px - 15px);
  }
  25% {
    left: calc(100px - 15px);
  }
  50% {
    left: calc(50px - 15px);
  }
  75% {
    left: calc(0px - 15px);
  }
  100% {
    opacity: 0;
    bottom: 210px;
    left: calc(50px - 15px);
  }
}

.none {
  display: none;
}
